<input type="text" name="countryName" id="countryName" [(ngModel)]="country">
{{country}}
<button (click)='listOfUniversities()'>Search University</button>
<!-- {{errorMessage}}
{{unviersityDataList}} -->
<button (click)='getAllData()'>Get All Data</button>

<table id="customers" *ngIf = "showTable">
    <tr>
        <th>Country Code</th>
        <th>Country</th>
        <th>University Name</th>
        <th>Domains</th>
        <th>Web Pages</th>
        <th>Status</th>
    </tr>
    <!-- <tr>
        <td >{{unviersityDataList[0].alpha_two_code}}</td>
        <td>{{unviersityDataList[0].country}}</td>
        <td>{{unviersityDataList[0].name}}</td>
    </tr>
    <tr>
        <td>{{unviersityDataList[1].alpha_two_code}}</td>
        <td>{{unviersityDataList[1].country}}</td>
        <td>{{unviersityDataList[1].name}}</td>
    </tr> -->
    <tr *ngFor="let university of unviersityDataList">
        <td>{{university.alpha_two_code}}</td>
        <td>{{university.country}}</td>
        <td>{{university.name}}</td>
        <td>{{university.domains.length}}</td>
        <td>{{university.web_pages.length}}</td>
        <td>{{university.status}}</td>
    </tr>

</table>
