// button {
//     background-color: green;
// }
.primary-button{
    background-color: red;
}
.welcome-app{
    background-color: #ddff00;
    color: blue;
}

.angular-training{
background-color: grey;
}

.react-training{
    background-color: rgb(228, 129, 129);
}

.vue-training{
    background-color: rgb(71, 56, 56);
}