
<h1 class= "welcome-app">{{title}}</h1>
<button (click) = "studentID()" class="primary-button">search</button>
<button (click) = "studentSearch()">studentSearch</button>
<button (click)= "training('AngularTraining-50 hrs')" class="angular-training">Angular Training</button>
<button (click)= "training('ReactTraing - 60 hrs')" class="react-training">React Training</button>
<button (click)= "training('Vue Traing - 70 hrs')" class="vue-training">Vue Training</button>

<button>search Angular</button>