<!-- 
<app-header></app-header>
<app-navigation></app-navigation> -->

<!-- <div> -->
  <!--  <app-company></app-company> 
    <app-employee></app-employee>
    <app-visa></app-visa> -->
  <!--    <router-outlet></router-outlet> -->

<!-- </div> 
 -->
<!-- <app-side-navigation></app-side-navigation> -->
<!-- <router-outlet></router-outlet



<app-side-navigation></app-side-navigation> -->

<!-- <app-university></app-university> -->

<app-component-a></app-component-a>
<!-- <app-component-b></app-component-b> -->